body
{
	background-color:lavender;
	color:purple;
	padding:30px;


}
.doc{
	font-style:italic;
	text-align:center;
	text-decoration:underline;

}
.name label{
	display:block;
	padding-bottom:5px;
}
.name input{
	width:100%
}